body {
  font-family: 'Quicksand', sans-serif;
}

.cover-container {
  background: url(images/background.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92vh;
}

.overlay {
  background-color: rgba(31, 18, 71,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.typewrite {
  color: white;
}

.title {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 40px;
  position: absolute;
  top: 20%;
}

.sticky-nav {
  height: 8vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #434343);
  background: linear-gradient(to right, #000000, #434343);
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 100%;
}

.brand {
  height: 100%;
  padding: .5% 2%;
  position: relative;
  float: left;
}

.links {
  height: 100%;
  padding: .5% 2%;
  margin: auto;
  display: inline;
  position: relative;
  float: right;
}

.icons {
  position: relative;
  top: 25%;
  height: 100%;
  margin: 5px 10px;
  color: rgb(211, 211, 211);
}

.img-rounded {
  max-height: 200px;
}

footer {
  background-color: black;
  color: rgb(107, 113, 124);
}

#about {
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
  color: white;
}
