body {
  font-family: 'Quicksand', sans-serif;
}

.cover-container {
  background: url(images/background.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92vh;
}

.overlay {
  background-color: rgba(31, 18, 71,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.typewrite {
  color: white;
}

.title {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 40px;
  position: absolute;
  top: 20%;
}

.sticky-nav {
  height: 8vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: black;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 100%;
}

.brand {
  height: 100%;
  padding: .5% 2%;
  position: relative;
  float: left;
}

.links {
  padding: .5% 2%;
  margin: auto;
  display: inline;
  position: relative;
  top: 20%;
  float: right;
}

.icons {
  margin: 5px;
  color: white;
}

footer {
  background-color: black;
}
